body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-color: #0f0f12;
}
@media only screen and (max-width: 900px) {
    h1{
        margin-top:50px;
        font-size:100px;
    }
}
@media only screen and (max-width: 600px) {
    h1{
        margin-top:50px;
        font-size:75px;
    }
    .bookmarks i{
    margin:0 15px;
    }
}
 
/*

SEARCH

*/

.form {
    text-align: center;
    margin-top: 100px;
}
.search-bar {
    background: none;
    border: none;
    border-bottom: 2px solid gray;
    color: #bababa;
    padding: 0 40px 0 40px;
    height: 50px;
    width: 500px;
    font-weight: 500;
    font-size: 18px;
}
.search-bar:focus {
    outline: none;
    border-bottom: 2px solid #fff;
    color: #fff;

}

/*

BOOKMARKS

*/

.bookmark-container {
    text-align: center;
    transform: scale(2.5);
    margin-top: 50px;
    outline: 1px solid #fff;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    padding-top: 2.5px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
#bookmark {
    color: #fff;
}
.fa-youtube,
.fa-envelope,
.fa-x-twitter {
    margin-right: 15px;
}

/*

FOOTER

*/

.footer-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*

Spotify

*/

.spotify-wrapper {
    position: absolute;
    bottom: 100px;
    left: 20px;
    height: 400px;
    width: 400px;
    transition: all 200ms ease-in-out;
    transform-origin: bottom left;
    transform: scale(0);
}
.spotify-wrapper.active {
    transition: transform 200ms ease-in-out;
    transform: scale(1);
}
.spotify-playlist {
    position: absolute;
    width: 400px;
    height: 400px;
}
.spotify-button {
    background-image: url(images/spotify.png);
    background-size: 100%;
    background-color: #0f0f12;
    border: none;
    position: absolute;
    bottom: 100px;
    box-shadow: rgba(6, 187, 12, 0.3) 0px 3px 5px -1px, rgba(4, 232, 57, 0.14) 0px 6px 10px 0px, rgba(25, 248, 0, 0.12) 0px 1px 18px 0px;
    border-radius: 50%;
    left: 20px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.spotify-button.active {
    transform: scale(0);
}
.fa-times {
    color: #fff;
    position: absolute;
    left: 335px;
    margin-top: 20px;
    cursor: pointer;
}
.fa-times.active {
    transition: none 200ms ease-in-out;
    transform: scale(2);
}

/*

Clock

*/

span {
    color: white;
}
.clock {
    text-align: center;
    margin-top: -100px;
    font-size: 24px;
}